# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
ENV/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
*.log

# Flask
instance/
.webassets-cache

# База данных
*.db
*.sqlite3
*.sqlite

# Загруженные файлы
app/static/uploads/
!app/static/uploads/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store